!!!
%html
  %head
    %meta(charset="utf-8")
    %title WebsocketChat
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield :css
  %body
    %header
      = yield :header
    %container
      %section
        = yield #section区画　articleはsectionの中に記述する
      %nav
        = yield :nav
        nav
    %footer
      = yield :footer
